
<html>



<body>
  <ul>
  <% for (i in cards) { %>
     <li>
        <img src="<%= cards[i].image %>" />
     </li>
     <li>
        <p class="text"><%= cards[i].text %><p>
        <p class="address"><%= cards[i].address %></p>
     </li>
  <% } %>
  </ul>
</body>

</html>
