
<section>
    <form id="card-form" class="flippable">
    </form>

    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" id="magic-button">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="HLGGNH4WDJTC8">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        <input type="hidden" class="notify_url" name="notify_url" value="">
        <input type="hidden" class="return" name="return" value="">
        <input type="hidden" name="rm" value="0">
        <input type="hidden" class="item_num" name="item_number" value="">
    </form>
</section>

<section id="recent">
     <h2>Recent postcards ...</h2>

     <ol>
     </ol>
</section>

<script>
   window.recent_cards = <%- recent_cards %>;
   window.sent_card = <%- sent_card %>;
</script>
