
<div class="section">
     <form id="card-form" class="panel">
     </form>

     <form action="https://www.paypal.com/cgi-bin/webscr" method="post" id="magic-button">
           <input type="hidden" name="cmd" value="_s-xclick">
           <input type="hidden" name="hosted_button_id" value="HLGGNH4WDJTC8">
           <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
           <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
           <input type="hidden" class="notify_url" name="notify_url" value="">
           <input type="hidden" class="return" name="return" value="">
           <input type="hidden" name="rm" value="0">
           <input type="hidden" class="item_num" name="item_number" value="">
      </form>

</div>

<script>
   window.recent_cards = [];
   window.sent_card = <%- sent_card %>;
</script>


<div class="section">
     <h2 class="sent">Tell everyone!</h2>

        <div id="share">

            <div>
              <a href="https://twitter.com/share" class="twitter-share-button" data-text="I sent a cool postcard!" data-count="none" data-via="swizec">Tweet</a>
           </div>
           <div>

           <div class="fb-like" data-href="http://dev.notmakingitbetter.com" data-send="true" data-layout="button_count" data-width="450" data-show-faces="true"></div>
<fb:like href="http://postme.me" send="true" layout="button_count" width="450" show_faces="true"></fb:like>
        </div>

</div>

</div>
<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
