/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* =============================================================================
   HTML5 element display
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio[controls], canvas, video { display: inline-block; *display: inline; *zoom: 1; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Force vertical scrollbar in non-IE
 * 3. Remove Android and iOS tap highlight color to prevent entire container being highlighted
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 * 4. Prevent iOS text size adjust on device orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */

html { font-size: 100%; overflow-y: scroll; -webkit-overflow-scrolling: touch; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

/*
 * These selection declarations have to be separate
 * No text-shadow: twitter.com/miketaylr/status/12228805301
 * Also: hot pink!
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * Improve image quality when scaled in IE7
 * code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */

img { border: 0; -ms-interpolation-mode: bicubic; }

/*
 * Correct overflow displayed oddly in IE9
 */

svg:not(:root) {
    overflow: hidden;
}


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

/*
 * Remove inner padding and border in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* Remove default vertical scrollbar in IE6/7/8/9 */
textarea { overflow: auto; vertical-align: top; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }


/* =============================================================================
   Primary styles
   Author: Swizec
   ========================================================================== */


body {
    background: url('/images/padded.png');
    font-family: 'Amaranth', sans-serif;
    color: white;
}

header {
  padding-bottom: 1em;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: center;
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-align: center;
  display: -o-box;
  -o-box-orient: vertical;
  -o-box-align: center;
  display: box;
  box-orient: vertical;
  box-align: center;
}

header h1 {
  font-size: 3.5em;
  padding-top: 1em;
  margin-bottom: 0;
  font-family: 'Lobster Two', cursive;
}

header h1 span {
  font-size: 0.8em;
  padding-left: 1em;
}

header p {
  font-size: 1.5em;
  line-height: 0.7em;
}

header p span {
  color: #CC1212;
  font-weight: bold;
}

h2 {
  font-size: 1.8em;
}

h2.sent {
    margin-top: -1.5em;
}

footer {
    padding: 1em;
    margin-top: 2em;
    display: -webkit-box;
    -webkit-box-align: center;
}

footer div {
    margin-left: 1em;
}

.panel {
    float: left;
    width: 200px;
    height: 200px;
    margin: 20px;
    position: relative;

    -webkit-perspective: 600;
}
/* -- make sure to declare a default for every property that you want animated -- */
/* -- general styles, including Y axis rotation -- */
.panel .front {
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 900;
    width: inherit;
    height: inherit;
    border: 1px solid #ccc;
    background: #6b7077;
    text-align: center;

    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.9);
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.9);
    box-shadow: 0 1px 5px rgba(0,0,0,0.9);

    -webkit-transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;

    /* -- transition is the magic sauce for animation -- */
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.panel.flip .front {
    z-index: 900;
    border-color: #eee;

    -webkit-transform: rotateY(180deg);

    -moz-box-shadow: 0 15px 50px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 15px 50px rgba(0,0,0,0.2);
    box-shadow: 0 15px 50px rgba(0,0,0,0.2);
}

.panel .back {
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 800;
    width: inherit;
    height: inherit;
    border: 1px solid #ccc;
    background: #80868d;

    -webkit-transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;

    /* -- transition is the magic sauce for animation -- */
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.panel.flip .back {
    z-index: 1000;

    -webkit-transform: rotateY(0deg);
    box-shadow: 0 15px 50px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 15px 50px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 15px 50px rgba(0,0,0,0.2);
}

#container {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -o-box;
    -o-box-align: center;
    display: box;
    box-align: center;
}

#main {
    dislay: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-align: center;
    display: -moz-box;
    -moz-box-orient: vertical;
    -moz-box-align: center;
    display: -o-box;
    -o-box-orient: vertical;
    -o-box-align: center;
    display: box;
    box-orient: vertical;
    box-align: center;
}

#main .section {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-align: center;
    display: -moz-box;
    -moz-box-orient: vertical;
    -moz-box-align: center;
    display: -o-box;
    -o-box-orient: vertical;
    -o-box-align: center;
    display: box;
    box-orient: vertical;
    box-align: center;
}

#card-form {
    width: 150mm;
    height: 100mm;
    font-family: 'Podkova', serif;
    -webkit-box-flex: 0;
}

#card-form input, #card-form textarea {
    font-family: "Podkova", serif;
}

#card-form div {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    display: -moz-box;
    -moz-box-orient: center;
    -moz-box-align: center;
    display: -o-box;
    -o-box-orient: center;
    -o-box-align: center;
    display: box;
    box-orient: center;
    box-align: center;
    background: white;
}

#card-form .back {
  background: url('/images/back.jpg') center center no-repeat;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
}

#card-form .back .send {
  position: absolute;
  top: 26mm;
  right: 12mm;
}

#card-form .back .flip {
  font-size: 0.6em;
  position: absolute;
  bottom: 0px;
  right: 10px;
}

#card-form {
  font-size: 2em;
  font-family: "Podkova";
}

#card-form img {
  max-height: 90mm;
  max-width: 140mm;
}

#card-form .image_form {
   position: absolute;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 100%;
   background: none;
   -webkit-box-orient: vertical;
   -moz-box-orient: vertical;
   -o-box-orient: vertical;
   box-orient: vertical;
}

#card-form .image_form input {
   display: -webkit-box;
   display: -moz-box;
   display: -o-box;
   display: box;
   opacity: 0.1;
   padding: 0.2em;
   border-radius: 15px;
   -moz-border-radius: 15px;
   -webkit-border-radius: 15px;
   -o-border-radius: 15px;
   outline: 0;
}

#card-form .image_form:hover input {
   opacity: 0.8;
}

#card-form .image_form.focus input {
   opacity: 1;
}

#card-form .image_form input[type=text] {
  width: 100mm;
}

#card-form .image_form input[type=text]:focus {
   -webkit-box-shadow: 0 0 15px #2BD6D9;
   -moz-box-shadow: 0 0 15px #2BD6D9;
   -o-box-shadow: 0 0 15px #2BD6D9;
   box-shadow: 0 0 15px #2BD6D9;
}

#card-form .image_form input[type=button] {
  margin-top: 0.5em;
  font-size: 0.7em;
  padding: 0.2em 0.5em;
}

#card-form .image_form a {
  font-size: 0.8em;
  position: absolute;
  bottom: 0px;
  right: 10px;
}

#card-form .text_form {
  background: none;
}

#card-form .text_form textarea {
  border: 0;
  font-size: 0.8em;
  outline: 0;
  overflow: hidden;
  width: 70mm;
  height: 85mm;
  min-width: 70mm;
  min-height: 85mm;
  max-width: 70mm;
  max-height: 85mm;

  -webkit-box-sizing: border-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: bottom;
  -webkit-box-align: stretch;
  display: -webkit-box;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-align: stretch;
  -moz-box-pack: bottom;
  -moz-box-sizing: border-box;
  display: -o-box;
  -o-box-orient: horizontal
  -o-box-align: stretch;
  -o-box-pack: bottom;
  -o-box-sizing: border-box;
  display: box;
  box-orient: horizontal;
  box-align: stretch;
  box-pack: bottom;
  box-sizing: border-box;
  background: none;
}

#card-form .text_form #address {
  height: 55mm;
  min-height: 55mm;
  max-height: 55mm;
  position: relative;
  top: 23mm;
  text-align: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 1em;
  line-height: 1.75em;
}

#card-form .text_form #text {
  margin-top: -2mm;
}

#magic-button {
  position: relative;
  top: -90mm;
  left: 56mm;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in-out;
  -moz-transition: opacity 400ms ease-in-out;
  -o-transition: opacity 400ms ease-in-out;
  transition: opacity 400ms ease-in-out;
}

#magic-button.visible {
  opacity: 1;
}

#recent {
}

#recent ol {
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -o-box;
    display: box;
}

#recent ol li {
  height: 200px;
  width: 300px;
  background: white;
  margin: 1em;

  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
  display: -o-box;
  -o-box-pack: center;
  -o-box-align: center;
  display: box;
  box-pack: center;
  box-align: center;

  -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.9);
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.9);
  box-shadow: 0 1px 5px rgba(0,0,0,0.9);
}

#recent ol li img {
  max-width: 93%;
  max-height: 90%;
  display: block;
}

#share {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    display: -moz-box;
    -moz-box-orient: horizontal;
    display: -o-box;
    -o-box-orient: horizontal;
    display: box;
    box-orient: horizontal;
    margin-left: 40px;
}

#share div {
    padding: 5px;
}

/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/* =============================================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}


/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
