
<div class="front face">
     <div class="centered">
        <div class="image"><%= img_tag(image) %></div>
     </div>
     <div class="image_form centered">
       <input id="image" name="image" value="<%= (changed) ? image : '' %>" placeholder="Enter an image URL" type="text" />
       <input type="button" value="Change Image" class="large blue awesome" />
       <a href="#" class="flip large red awesome ">Write! &raquo;</a>
     </div>
</div>
<div class="back face">
     <div class="left">
        <textarea placeholder="Write something awesome!" id="text" name="text"><%= text %></textarea>
     </div>
     <div class="right">
        <a href="#" class="magic-button"><img src="/images/paypal.gif" /></a>
        <textarea placeholder="To whom?" id="address" name="address"><%= address %></textarea>
        <a href="#" class="flip small black awesome">&laquo; Flip</a>
    </div>
</div>
