
<div class="front">
     <%= img_tag(image) %>
     <%= input_field_tag('image', image) %>
</div>
<div class="back">
     <%= text_area_tag('text', text) %>
     <%= text_area_tag('address', address) %>
</div>
